.bannerWrapper {
    background-color: #DCFCE7;
    /* Green-100 */
    border-radius: 24px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    position: relative;
    overflow: hidden;
}

.bannerContent {
    z-index: 1;
}

.bannerButton {
    background-color: var(--text-primary);
    /* Black/Gray-900 */
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 8px;
}

.bannerImagePlaceholder {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerTitle {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 10px;
    color: var(--text-primary);
}

.highlightText {
    color: var(--primary-color);
}

.emojiPlaceholder {
    font-size: 3rem;
}